<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How To Use</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/how_to_use.css') }}">

</head>
<body>
  <div class="container">
    <div class="content_1">
        <h2 class="heading">How To Use This Website</h2>
          <p class="multiline">
            First, describe the movie as you remember it in the the white box that says "Describe here...". Then enter the Search button and we will find the movie you are looking for
          </p>
    </div>
      <div class="content_2">
        <h2 class="heading">Why Use This Website</h2>
          <p class="multiline">
            Cinema has made a significant contribution to human enjoyment for centuries. People are naturally exposed to cinema from an early age along with the society they live in. Children's movies and TV shows that are watched as a child leave a person with fond memories. When you are old, re-watching a movie or series you previously watched will fill your heart with great nostalgia. People love this nostalgic feeling. But one of the obstacles to finding such movies or series is human memory. It is impossible for anyone to recall the titles of all the movies he saw as a child. But with those movies, the viewer is always left with a mental image of the plot summary or some noteworthy event. The purpose of this research is to find the relevant movie or series using this mental image or in other words plot summary.
          </p>
      </div>
      <div class="content_3">
        <h2 class="heading">About Us</h2>
          <p class="multiline">
            The team is second-year undergraduates following the BEng(Hons) Software Engineering degree at the Informatics Institute of Technology (IIT), affiliated with the University of Westminster UK.
          </p>
      </div>
  </div>
</body>
</html>