<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{{ url_for('static', filename='css/studentdetailsstyle.css') }}">
    
    <title>Student Details</title>
</head>

<body>
    <h1>Meet the Developers</h1>
    <div class="items">
        <div class="container" id="shakyapic">
            <img src="{{ url_for('static', filename='img/student-pictures/Shakya.png') }}" alt="Shakya Wijerathne" class="image" onmouseover="showShakya()" onmouseout="stopShakya()">
        </div>
        <div class="container" id="tirangapic">
            <img src="{{ url_for('static', filename='img/student-pictures/Tiranga.jpeg') }}" alt="Tiranga De Alwis" class="image" onmouseover="showTiranga()" onmouseout="stopTiranga()">
        </div>
        <div class="container" id="Rimazpic">
            <img src="{{ url_for('static', filename='img/student-pictures/Rimaz.jpg') }}" alt="Rimaz Rizwan" class="image" onmouseover="showRimaz()" onmouseout="stopRimaz()">
        </div>
        <div class="container" id="Deshanpic">
            <img src="{{ url_for('static', filename='img/student-pictures/Deshan.jpg') }}" alt="Deshan Wijetunga" class="image" onmouseover="showDeshan()" onmouseout="stopDeshan()">
        </div>
        <div class="container" id="Kevinpic">
            <img src="{{ url_for('static', filename='img/student-pictures/Kevin.jpg') }}" alt="Kevin Paris" class="image" onmouseover="showKevin()" onmouseout="stopKevin()">
        </div>
    </div>
    <div class="Names">
        <div class="details" id="shakya">
            <p class="name">Shakya Wijerathne
            <p>
            <p class="role">W1867607</p>
        </div>
        <div class="details" id="tiranga">
            <p class="name">Tiranga De Alwis
            <p>
            <p class="role">W18671386</p>
        </div>
        <div class="details" id="Rimaz">
            <p class="name">Rimaz Rizwan</p>
            <p class="role">W1870555</p>
        </div>
        <div class="details" id="Deshan">
            <p class="name">Deshan Wijetunga</p>
            <p class="role">W19127945</p>
        </div>
        <div class="details" id="Kevin">
            <p class="name">Kevin Paris</p>
            <p class="role">W1869305</p>
        </div>
    </div>
    <script>
        function showShakya() {
            document.getElementById("shakya").style.opacity = "1"
        }
        function stopShakya() {
            document.getElementById("shakya").style.opacity = "0"
        }
        function showTiranga() {
            document.getElementById("tiranga").style.opacity = "1"
        }
        function stopTiranga() {
            document.getElementById("tiranga").style.opacity = "0"
        }
        function showRimaz() {
            document.getElementById("Rimaz").style.opacity = "1"
        }
        function stopRimaz() {
            document.getElementById("Rimaz").style.opacity = "0"
        }
        function showDeshan() {
            document.getElementById("Deshan").style.opacity = "1"
        }
        function stopDeshan() {
            document.getElementById("Deshan").style.opacity = "0"
        }
        function showKevin() {
            document.getElementById("Kevin").style.opacity = "1"
        }
        function stopKevin() {
            document.getElementById("Kevin").style.opacity = "0"
        }
    </script>
    <br>
    <br>
    
</body>

</html>