name: Python Flask CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        python -m test.py

#     - name: Build and deploy app
#       run: |
#         export FLASK_APP=app.py
#         flask run

# name: Python Flask CI/CD
# on:
#   push:
#     branches:
#       - main
# jobs:
#   build:
#     runs-on: ubuntu-latest
# steps:
#   - name: Checkout code
#     uses: actions/checkout@v2
#   - name: Set up Python
#     uses: actions/setup-python@v2
#     with:
#       python-version: 3.8
#   - name: Install dependencies
#     run: |
#       python -m pip install --upgrade pip
#       pip install -r requirements.txt
#   - name: Run tests
#     run: |
#       python -m pytest test.py

